.header{
    height: 100vh;
    background-image: linear-gradient(to bottom, #cee9e9, rgb(194, 221, 194) );
}
.text {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 10px;
    position: relative;
    top: 8%;
}
#dog{
    position: absolute;
    top: 15vh;
    left: 598px;
    height: 70vh;
    z-index: 1;
    border: solid 10px rgb(218, 102, 179); 
}
#paw{
    position: absolute;
    top: -7vh;
    left: 42vh;
    z-index: 2;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) scale(.5);
}